/* Wider sidebar */
[data-testid="stSidebar"] { min-width: 350px; max-width: 350px; }

/* Make tables fill page */
.stDataFrame, .stTable { width: 100% !important; }

/* Make radio groups size correctly */
div[data-testid="stVerticalBlock"] div[role="radiogroup"] {
    max-height: 305px;
}